<p>
    <label>Nombre: </label>&nbsp;
    <!--Double-Data-Binding "["" para recibir y "("" para enviar-->
    <input type="text" [(ngModel)]="nombre" value="Nombre Por Defecto" />
    <br>
    <label>Email: </label>&nbsp;
    <!--Double-Data-Binding-->
    <input type="email" [(ngModel)]="email" value="Email Por Defecto" />
    <br>
    <label>Password: </label>&nbsp;
    <!--Double-Data-Binding-->
    <input type="password" [(ngModel)]="password" value="Password Por Defecto" />
    <br>
    <label>Tema preferido: </label>&nbsp;
    <!--Double-Data-Binding-->
    <input type="text" [(ngModel)]="idTemaPreferido" value="idTemaPreferido Por Defecto" />
    <br>
</p>